.content-sidebar-wrap.flex-container, 
.main-content-wrap.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.search-form{
  display:flex;
  justify-content: flex-end;
  margin:20px;
  padding-right: 100px;
}

.recipe-main-wrap .flex-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main-content .entry-article {
  position: relative;
  margin: 0 20px 0 20px;
}

.entry-article .caption{
  position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    /* -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out; */
    /* background: #723f5f; */
    background: rgba(114,63,95,.9);
    color: #fff;
    font-family: 'Dosis',sans-serif;
    font-size: 22px;
    line-height: 1;
    height: 94px;
    overflow: hidden;
    text-align: center;
    text-transform: lowercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.entry-article button{
    padding: 0;
    border: none;
    background: none;
}

.main-content .entry-right{
  padding-left: 20px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/***********************/
/* Recipe Details
/***********************/
.recipe-details-container {
  margin-top: 110px;
}
.recipe-details-container header{
  background-color: #6d3c5c;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-details-header img{
    border-radius: 92.5px;
    border: 5px solid #6d3c5c;
    width: 185px;
}

.recipe-details-image{
  transform: translateY(-110px);
}